<div class="main-desktop-sidebar">
	<header>
		<div class="icon-logo center-block">
			<img src="assets/img/LeoKing_logo.png" alt="main_logo.png" />
		</div>
	</header>
	<div id="herp">
		<ul>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
			<li><a href="#video-link" alt="video-link"><img src="https://placekitten.com/g/200/300" alt="kitten-01.jpg" class="img-thumbnail" /></a></li>
		</ul>
	</div>
</div><!-- /.main-desktop-sidebar -->
