<div class="main-desktop-sidebar">
	<header>
		<div class="icon-logo center-block">
			<img src="assets/img/LeoKing_logo.png" alt="main_logo.png" />
		</div>
	</header>
	<div id="herp">
		<ul>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
			<li>video content</li>
		</ul>
	</div>
</div><!-- /.main-desktop-sidebar -->
