<div role="sidebar" class="main-desktop-sidebar">
	<ul>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
		<li>video content</li>
	</ul>
</div>
