<header class="login-header">
	<!--[if IE 8]>  <div class="login-header"><![endif]-->
	<div class="icon-logo center-block">
		<img src="assets/img/LeoKing_logo.png" alt="main_logo.png" />
	</div>
	<!--[if IE 8]>  </div><![endif]-->
</header>
