<div class="recommended-content">
	<h5>Recommended Videos</h5>
		<div class="row">
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
			<div class="col-sm-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ejBkOjEG6F0?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div><!-- recommended-content -->
			</div>
		</div>
	</ul>
</div>
