<div class="recommended-content">
	<h4>Recommended Content</h4>
	<ul>
		<li>recommended video content</li>
		<li>recommended video content</li>
		<li>recommended video content</li>
		<li>recommended video content</li>
		<li>recommended video content</li>
		<li>recommended video content</li>
		<li>recommended video content</li>
	</ul>
</div>
