	<footer>
		<p>&copy; 2013 LookStack LLC. All Rights Reserved</p>
	</footer>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="assets/js/vendor/video.js"></script>
	<script src="assets/js/flat-ui.min.js"></script>
</body>
</html>
