<!DOCTYPE html>
<html>
	<head lang="en">

		<meta charset="utf-8">
		<title>{{ page-title }}</title>
		<meta name="description" content=""/>

		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

		<!-- Loading Bootstrap -->
		<link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet">

		<!-- Loading Flat UI -->
		<link href="assets/css/flat-ui.css" rel="stylesheet">

		<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
		<script src="assets/js/vendor/jquery.min.js"></script>
