<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8]>     <html class="ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 9]>     <html class="ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 10]>     <html class="ie10" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if !IE]><!--> <html lang="en">  <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<title>{{ page-title }}</title>
		<meta name="description" content=""/>

		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

		<!-- Loading Bootstrap -->
		<link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet">

		<!-- Loading Flat UI -->
		<link href="assets/css/flat-ui.css" rel="stylesheet">

		<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
		<script src="assets/js/vendor/jquery.min.js"></script>
