<div class="filter-container offcanvas-options" id="collapse-filter" data-target=".collapse-filter">
	<a href="#" class="btn">My Account</a>
	<form id="payment-options" action="" method="post">
		<div class="row">
			<div class="col-xs-12">
				<div class="row option-row">
					<label class="share-label" for="six-months">Filter A</label>
					<input data-toggle="switch" checked type="checkbox" name="purchase-plan" value="six-months">
				</div>
			</div>
		</div> <!-- /row -->
	</form>
	<a href="#" class="btn">Save Settings</a>
</div><!-- offcanvas mobile menu -->
