<nav class="offcanvas-menu" role="navigation">
	<a class="close" data-toggle="offcanvas" aria-expanded="false" aria-controls="collapse-filter">&#215;</a>
	<form id="payment-options" action="" method="post">
		<a href="#" class="btn" id="account-link">My Account</a>
		<div class="row">
			<div class="col-xs-12">
				<div class="row option-row">
					<label class="share-label" for="six-months">Filter A</label>
					<input data-toggle="switch" checked type="checkbox" name="purchase-plan" value="six-months">
				</div>
				<div class="row option-row">
					<label class="share-label" for="six-months">Filter B</label>
					<input data-toggle="switch" checked type="checkbox" name="purchase-plan" value="six-months">
				</div>
				<div class="row option-row">
					<label class="share-label" for="six-months">Filter C</label>
					<input data-toggle="switch" checked type="checkbox" name="purchase-plan" value="six-months">
				</div>
			</div>
		</div> <!-- /row -->
	</form>
	<a href="#" class="btn">Save Settings</a>
</nav><!-- offcanvas mobile menu -->
