---
page-title: 'lookstack - index.html'
layout: hero.hbs
---
</head>
<body>
<div class="container" id="lookstack-header">
	<h1 class="demo-headline">
		<div class="logo center-block">
			<img src="assets/img/icons/png/Infinity-Loop.png" alt="main_logo.png" />
		</div>
		<div class="row">
			<div class="col-xs-6">
				<a href="#fakelink" class="btn btn-lg center-block">Log In</a>
			</div>
			<div class="col-xs-6">
				<a href="#fakelink" class="btn btn-lg center-block">Sign Up</a>
			</div>
		</div>
	</h1>
</div> <!-- /parallax-headline -->
<div class="container">
	<div class="row">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/53ygb3dE83A" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
