---
title: 'Log In'
layout: form-flow.hbs
---
</head>
<body>

{{> log-in-navbar }}

<div class="container">
	<h6 class="demo-panel-title">My Account</h6>
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<input type="text" value="" placeholder="Email" class="form-control" />
			</div>
		</div>
	</div> <!-- /row -->
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<input type="text" value="" placeholder="Password" class="form-control" />
			</div>
		</div>
	</div> <!-- /row -->
	<div class="row">
		<div class="col-xs-4">
			<div class="form-group">
				<input type="text" value="" placeholder="Confirm Password" class="form-control" />
			</div>
		</div>
	</div> <!-- /row -->
	<div class="row" id="sign-in-row">
		<div class="col-xs-6">
			<a href="#fakelink" class="btn btn-lg center-block btn-inverse">Get Started</a>
		</div>
	</div>
</div>
