---
title: 'Home'
layout: main.hbs
page-class: 'main'
---

</head>
<body class="{{ page-class }}">
<div id="outer-wrapper">
<div id="wrapper">
	<header>

			<li>
				<a class="navbar-toggle" data-toggle="offcanvas" aria-expanded="false" aria-controls="collapse-filter"></a>
			</li>
			<li>
				<a class="btn btn-info" href="#my-account" id="my-account-cta">my account</a>
			</li>
			<div class="icon-logo center-block">
				<img src="assets/img/LeoKing_logo.png" alt="main_logo.png" />
			</div>

	</header>
	{{> user-filter-container }}
	{{> desktop-sidebar }}

	<div class="container" role="main">
		<div class="content">
			<div id="main-video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/53ygb3dE83A?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="video-description">
					<h5>Title 1</h5>
					<h6 id="date-time">March 27, 2015</h6>
					<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
					</p>
				</div>
			</div>
			{{> recommended-content }}
		</div>
	</div>
</div><!-- /.end-wrapper -->

<div class="js-hide">
	{{> user-filter-container }}
</div>

</div><!-- /.end-outer-wrapper -->

<script src="assets/js/flat-ui.js"></script>
<script>

$(document).ready(function () {
	$('body').addClass('js-enabled');
	// Switches
	var options = {
		animate: true,
		inverse: true,
		onColor: 'payment',
		offColor: 'greyscale',
		onText: "&#10003;",
		offText: " "
	};

	if ($('[data-toggle="switch"]').length) {
		$('[data-toggle="switch"]').bootstrapSwitch(options);
	}

	// off canvas toggle
	$('[data-toggle="offcanvas"]').click(function () {
		$('#wrapper').toggleClass('active');
	});

});

</script>
