---
title: 'Home'
layout: main.hbs
page-class: 'main'
---

</head>
<body class="{{ page-class }}">
<div id="wrapper">
	<header class="row">
		<div class="col-xs-12">
			<nav class="navbar" role="navigation">
				<ul role="menu" class="menu">
					<li>
						<a class="btn btn-primary" href="#collapse-filter" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-filter"></a>
					</li>
					<li>
						<a class="btn btn-primary" href="#my-account">my account</a>
					</li>
				</ul>
				<div class="icon-logo center-block">
					<img src="assets/img/LeoKing_logo.png" alt="main_logo.png" />
				</div>
			</nav>
		</div><!-- col -->
		{{> user-filter-container }}
	</header>

	{{> desktop-sidebar }}

	<div class="container" role="main">
		<div class="content">
			<div id="main-video">
				<iframe src="https://www.youtube.com/embed/53ygb3dE83A?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				<div class="video-description">
					<h5>Title 1</h5>
					<h5>Subtitle</h5>
					<h6 id="date-time">March 27, 2015</h6>
					<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
					</p>
				</div>
			</div>
			{{> related-content }}
		</div>
	</div>
</div><!-- /.end-wrapper -->

<script src="assets/js/flat-ui.js"></script>
<script>
// Switches
var options = {
	animate: true,
	inverse: true,
	onColor: 'payment',
	offColor: 'greyscale',
	onText: "&#10003;",
	offText: " "

	//disabled: true
};

if ($('[data-toggle="switch"]').length) {
	$('[data-toggle="switch"]').bootstrapSwitch(options);
}

// $('.collapse-filter').collapse()

</script>
