---
title: 'My Account'
layout: form-flow.hbs
page-class: 'payment-details'
---

</head>
<body class="{{ page-class }}">

{{> log-in-navbar }}

<div class="container" id="container">
	<h6 class="demo-panel-title">My Account</h6>
	<form id="payment-options" action="" method="post">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<input type="text" value="" placeholder="Email" class="form-control" />
				</div>
			</div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<input type="text" value="" placeholder="Card Number" class="form-control" />
				</div>
			</div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-xs-6" id="cc-info">
				<div class="form-group">
					<input type="text" value="" placeholder="MM/YY" class="form-control" />
				</div>
			</div>
			<div class="col-xs-6" id="cvc-info">
				<div class="form-group">
					<input type="text" value="" placeholder="CVC" class="form-control" />
				</div>
			</div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-xs-9" id="promo-info">
				<div class="form-group">
					<input type="text" value="" placeholder="Promo Code" class="form-control" />
				</div>
			</div> <!-- /row -->
			<div class="col-xs-3" id="promo-apply">
				<div class="form-group">
					<input type="submit" value="Apply" class="form-control" id="apply" />
				</div>
			</div>
		</div> <!-- /row -->
		<div class="row">
			<div class="col-xs-5">
				<h5 id="total">Total: <span id="cost">$18</span></h5>
			</div>
		</div> <!-- /row -->
		<div class="row" id="sign-in-row">
			<div class="col-xs-6 col-xs-offset-3">
				<a href="#fakelink" class="btn btn-lg center-block btn-inverse">Done</a>
			</div>
		</div> <!-- /row -->
	</div> <!-- /form -->
</div>
