/* 320+ MAIN CSS */

//hero.hbs template

#lookstack-header {
	position: relative;
	height: 100vh;
	background-image: url(../img/main_lookstack_bg.jpg);
	background-origin: border-box;
	background-position: -5px -5px;
	overflow: hidden;
	width: 100%;

	&:after {
		content: " ";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(04, 99, 155, 0.75);
		z-index: 2;
	}

	.row {
		position: absolute;
		bottom: 1.25em;
		width: 100%;
		z-index: 3;
	}

	.btn {
		max-width: 150px;
		&:focus, &:hover {
			color: #000;
		}
	}

	#video-background {
		position: absolute;
		top: -25%;
		left: -35%;
		z-index: 1;
		height: 150vh;
	}

	.logo {
		position: relative;
		margin: 35% auto 0 auto;
		max-width: 125px;
		z-index: 3;
		img {
			width: 100%;
		}
	}

}


#lookstack-video-preview {
	display: none;
	iframe {
		width: 100%;
	}
	h6 {
		color: #6F6F6F;
	}
}

//forms.hbs template

.login-header {
	height: 80px;
	border-bottom: 1px solid #DADADA;
	.icon-logo {
		max-height: 75px;
		display: block;
		max-width: 91px;
		padding-top: 8px;
		img {
			width: 100%;
		}
	}
}

h6.demo-panel-title {
	padding-top: 70px;
	text-align: center;
	font-weight: 500;
}

#sign-in-row {
	margin-top: 70px;
	margin-bottom: 80px;
	.btn-inverse {
		max-width: 170px;
	}
}

.option-row {
	margin: auto;
	padding: 20px 0;
	border-top: 1px solid #e9e9e9;
	&:last-child {
		border-bottom: 1px solid #e9e9e9;
	}
	.share-label {
		width: 70%;
	}
}

.payment-details {

	#cc-info, #promo-info {
		padding-right: 0;
	}

	#cvc-info {
		padding-left: 0;
		.form-group {
			border-left: 1px solid @silver;
		}
	}

	#promo-apply {
		padding-left: 0;
		input[type="submit"] {
			border: 1px solid @silver;
			&:hover {
				cursor: pointer;
			}
		}
	}

	#total{
		font-weight: 500;
	}

	#cost {
		display: inline-block;
	}
}

//main.hbs template

.main.js-enabled {
	// hide menu at the footer of doc
	.js-hide{
		.offcanvas-menu {
			display: none;
		}
	}
	// show offcanvas menu
	.offcanvas-menu {
		display: block
	}
}

#my-account-cta {
	display: none;
}

// .main base styles +
// hiding blocks if .js-enabled hasn't been added
.main {

	#wrapper {
		position: relative;
		footer {
			display: none;
		}
	}

	#wrapper.active {
		left: 14em;
		&:after {
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			background-color: rgba(0,0,0, .75);
		}
	}


	header {
		.icon-logo {
			position: absolute;
			top: 0;
			left: calc(50% - 35px);
			max-height: 75px;
			display: block;
			max-width: 70px;
			padding-top: 8px;
			img {
				width: 100%;
			}
		}
		#filter-menu-cta a {
			display: none;
		}
	}

	h5 {
		font-weight: 500;
	}

	li {
		margin: 5px 0 0 0;
		display: inline-block;
		list-style: none;
	}

	// show menu at the footer of doc
	.js-hide{
		.offcanvas-menu {
			display: block;
		}
		.close {
			display: none;
		}
	}
	// hide offcanvas menu
	.offcanvas-menu {
		display: none;
		form {
			clear: both;
			padding: 0 15px;
		}
		a {
			color: #333;
			margin: 15px;
			display: block;
			border: 1px solid #DADADA;
			width: 150px;
		}
		a#account-link {
			padding-left: 0;
			margin: 0 0 15px 0;
			text-align: left;
			border: none;
		}
		a.close {
			color: #333;
			width: 45px;
			border: none;
			text-align: center;
			font-size: 2.15em;
			opacity: 0.5;
		}
		.option-row {
			padding: 15px 0;
			.share-label {
				width: 60%;
			}
		}
	}
	// hide navbar toggle
	.navbar-toggle {
		display: none;
	}

	.recommended-content {
		border-top: 1px solid #DADADA;
		padding-top: 54px;
	}
	.video-description p {
		margin: 60px 0 65px 0;
	}
}

// .main js-enabled styles

.main.js-enabled {

	//hiding footer nave when js-enabled is on body!
	.js-hide {
		.offcanvas-menu {
			display: none;
		}
	}

	#outer-wrapper {
		width: 100%;
		overflow: hidden;
	}

	nav.offcanvas-menu {
		width: 14em;
		height: 100%;
		position: absolute;
		top: 0;
		left: -14em;
		overflow: hidden;
	}

	.navbar-toggle {
		display: block;
		margin: 0 0 0 25px;
		padding: 0;
		&:before {
			color: #3d3d3d;
		}
	}

}

.recommended-content {
	.embed-responsive {
		margin: 15px;
	}
}

#date-time {
	color: #969696;
	font-size: 14px;
}

.main-desktop-sidebar {
	display: none;
}

// IE 6,7,8 Quick hax for hero.hbs
html.ie6, html.ie7, html.ie8, html.ie9, html.ie10 {
	//hero.hbs template
	#lookstack-header {
		height: 480px!important;
		video {
			display: none;
		}
	}

	//main.hbs template
	.main.js-enabled {

		//header quickfixes
		#header {
			.icon-logo {
				position: absolute;
				top: 0;
				left: 45%;
				max-height: 75px;
				display: block;
				max-width: 10%;
				padding-top: 8px;
				img {
					width: 100%;
				}
			}
			#filter-menu-cta a {
				display: none;
			}
		}
		//wrapper cover
		#wrapper.active {
			&:after {
				z-index: 555;
				background-color: #fff;
				opacity: .5;
			}
		}

	}
}
