/* 640+ */
@media screen and (min-width: 640px) {

	#lookstack-header {
		height: 50vh;
		min-height: 240px;
		max-height: 320px;
		.demo-headline {
			margin-top: 55px;
		}
		.logo {
			margin: 0 auto;
			max-width: 175px;
		}
		.row#sign-in-row {
			position: relative;
			margin: 0 auto;
			bottom: 0;
			max-width: 320px;
		}
	}

	#lookstack-video-preview {
		display: block;
		margin:  35px 25px 15px 25px;
		iframe {
			width: 100%;
			min-height: 320px;
		}
		h6 {
			text-align: center;
			margin-top: 0;
			padding: .5em 0 2em 0;
		}
	}

	//forms.hbs template

	.log-in {
		.form-group {
			max-width: 420px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}

	h6.demo-panel-title {
		padding-bottom: 70px;
	}

} //end less 640+ breakpoint
