/* 720+ */
@media screen and (min-width: @screen-sm-min) {
	#lookstack-video-preview {
		display: block;
		width: 100%;
		margin: 0;
		iframe {
			max-width: 680px;
			margin: 50px auto 0 auto;
			display: block;
		}
		h6 {
			margin: 35px 0 140px 0;
		}
	}

} //end less 720+ breakpoint
